* {
	margin: 0;
	padding: 0;
}

.register {
	width: 100%;
	height: 24px;
	padding-top: 16px;
	padding-bottom: 16px;

	background-color: white;
}

.register a {
	width: 90%;
	line-height: 24px;
	text-decoration: none;
	color: #e93b68;
	font-family: 'Barlow';
	font-size: 1.2em;
	font-weight: 600;
	text-align: right;
	display: block;
	max-width: 640px;
	margin: 0 auto;
	vertical-align: center;
}

header {
	width: 100%;
	height: 128px;
	padding-top: 64px;
	padding-bottom: 96px;

	background-color: #ff1451;
	background: url(hero.png);
	background-size: cover;
}

header .logo {
	display: block;
	height: 128px;
	margin: auto;
}

.card {
	display: block;
	width: 90%;
	max-width: 640px;
	min-width: 300px;
	margin: 0 auto;
	margin-top: -32px;
	margin-bottom: 32px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.12);
}

.card hr {
	background-color: #dadada;
	height: 1px;
	border: none;
}

.cover-letter {
	padding: 32px;
}

.cover-letter h1 {
	font-family: 'Barlow';
	font-weight: 600;
	margin-bottom: 16px;
	color: #E91E63;
}

.cover-letter p {
	font-family: 'Barlow';
	font-weight: 400;
	color: #666;
	line-height: 1.6em;
    font-size: 0.8em;

}

.cover-letter .signeture-nafees {
	width: 80px;
	margin-top: 16px;
}

.cover-letter .signeture-shuji {
	height: 80px;
	margin-top: 16px;
}


.cover-letter .title {
	font-family: 'Barlow';
	font-weight: 600;
	color: #333;
}

.cover-letter .post {
	font-family: 'Barlow';
	font-weight: 400;
	color: #333;
}

.committees {
	display: block;
	width: 90%;
	max-width: 640px;
	min-width: 300px;
	margin: 48px auto;
}

.committees h1 {
	width: 100%;
	font-family: 'Barlow';
	font-weight: 600;
	color: #263238;
	text-align: center;
	margin-bottom: 40px;
}

.clist {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.committees .clist li {
	width: 80px;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
	text-align: center;
	margin: 8px;
	font-family: 'Barlow';
	font-weight: 900;
	color: #ff1451;
	font-size: 1em;
	background-color: white;
	border-radius: 12px;
	display: inline-block;
	box-shadow: 0px 4px 20px -4px rgba(255,20,81,0.2);
	box-shadow: 0px 4px 20px -4px rgba(0,0,0,0.2);
}

.app {
	background-color: white;
	box-shadow: inset 0px 24px 88px -24px rgba(255,20,83,0.16);

	width: 100%;
	display: block;
	float: left;
}

.app .phone-holder {
	overflow-x: hidden;
	position: relative;

	display: block;
	width: 100%;
	max-width: 560px;
	min-width: 300px;
	margin: 0 auto;
}

.app .phone-holder:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 96px;
	top: 124px;
	left: 0px;
	background: linear-gradient(90deg, white, transparent);
	z-index: 1;
}

.app .phone-holder:after {
	content: "";
	position: absolute;
	width: 80px;
	height: 96px;
	top: 124px;
	right: 0px;
	background: linear-gradient(90deg, transparent, white);
	z-index: 1;
}

@media only screen and (max-width: 460px) {
	.app .phone-holder:after {
		display: none;
	}

	.app .phone-holder:before {
		display: none;
	}
}

.app .buttons-strip {
	height: 96px;
	width: 672px;
	position: absolute;
	top: 124px;
	left: -64px;
	z-index: 0;
}

.app .phone {
	width: 300px;
	margin: 0 auto;
	margin-top: 64px;
	margin-bottom: 24px;
	display: block;
}

.app h1 {
	width: 90%;
	max-width: 640px;
	font-family: 'Barlow';
	font-weight: 600;
	color: #263238;
	display: block;
	margin: 0 auto; 
	text-align: center;
	margin-bottom: 16px;
}

.app p {
	width: 90%;
	max-width: 640px;
	font-family: 'Barlow';
	font-weight: 400;
	color: #263238;
	text-align: center;
	display: block;
	margin: 0 auto; 
	text-align: center;
	font-size: 0.8em;
	margin-bottom: 40px;
}

.waiver {
	width: 100%;
	display: block;
	float: left;
}

.waiver-holder {
	display: block;
	width: 90%;
	max-width: 640px;
	min-width: 300px;
	margin: 0 auto;
}

.waiver-holder h1 {
	width: 90%;
	max-width: 640px;
	font-family: 'Barlow';
	font-weight: 600;
	color: #263238;
	display: block;
	margin: 0 auto; 
	text-align: center;
	margin-bottom: 16px;
}

.waiver-holder a {
	font-family: 'Barlow';
	font-weight: 600;
	text-decoration: none;
	color: #ff1451;
	text-align: center;
	margin-bottom: 48px;
	display: block;
}

footer {
	width: 100%;
	display: block;
	float: left;
	background-color: #ba124a;
	height: 64px;
}

footer .fwrap {
	display: block;
	width: 90%;
	max-width: 640px;
	min-width: 300px;
	margin: 0 auto;
}

footer .fwrap h3 {
	font-family: 'Barlow';
	font-weight: 400;
	color: white;
	line-height: 64px;
	vertical-align: middle;
	display: inline;
	float: left;
}

footer .fwrap ul {
	list-style: none;
}

footer .fwrap ul li {
	display: inline-block;
	float: right;
	width: 24px;
	height: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 16px;
}

footer .fwrap ul li img {
	width: 24px;
	height: 24px;
}

.stop-scrolling {
  	height: 100%;
  	overflow: hidden;
}

.model {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	z-index: 2;
	overflow-y: scroll;

	display: block;
	visibility: hidden;
}

.model nav {
	width: 100%;
	height: 32px;
	padding: 16px 0;

	/*background-color: red;*/
}

.model nav button {
	width: 32px;
	height: 32px;
	border: none;
	margin-right: 16px;
	display: block;
	float: right;
	background: white;
	cursor: pointer;
}

.model h1 {
	width: 90%;
	max-width: 640px;
	display: block;
	margin: 32px auto;
	font-family: 'Barlow';
	font-weight: 600;
	color: #263238;
}

.model p {
	width: 90%;
	max-width: 640px;
	display: block;
	margin: 16px auto;
	font-family: 'Barlow';
	font-weight: 400;
	font-size: 0.8em;
	line-height: 1.6em;
	color: #263238;
}

.model .note {
	color: #ff1451;
}